/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: jostLight, Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: var(--color-text-main);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--common-font-family), Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
a {
  cursor: crosshair;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#root {
  height: 100%;
  min-height: 100%;
}

@font-face {
  font-family: ostrichSans;
  src: url('./assets/ostrich-sans-master/OstrichSans-Bold.otf');
}

@font-face {
  font-family: ostrichSansHeavy;
  src: url('./assets/ostrich-sans-master/OstrichSansRounded-Medium.otf');
}

@font-face {
  font-family: grenze;
  src: url('./assets/Grenze-Thin.otf');
}

@font-face {
  font-family: grenzeMedium;
  src: url(./assets//Grenze-Medium.otf);
}

@font-face {
  font-family: robotoLight;
  src: url('./assets/Roboto-Light.ttf');
}

@font-face {
  font-family: jostMedium;
  src: url('./assets/Jost-400-Book.otf');
}

@font-face {
  font-family: jostLight;
  src: url('./assets/Jost-300-Light.otf');
}



.custom-shape-divider-bottom-1655480482 {
  position: absolute;
  /* top: 100px; */
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) translateY(-2px);
}

.custom-shape-divider-bottom-1655480482 svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 74px;
}

.custom-shape-divider-bottom-1655480482 .shape-fill {
  fill: var(--bg-color-accent);
}

.custom-shape-divider-top-1655480231 .shape-fill {
  fill: var(--bg-color-accent);
}

:root {
  --color-main: #FFFFFF;
  --color-sub: #2C2828;

  --bg-color: #FA4753;
  --bg-color-pink: #FC9A9A;
  --bg-color-light: #fc9595; 
  --bg-color-accent: #313335;

  --font-size-sm: clamp(0.87rem, 0.14vw + 0.67rem, 1rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.84rem, 2.68vw + 2.05rem, 3.15rem);
  --font-size-xxl: clamp(2.84rem, 2.68vw + 2.05rem, 4rem);


  /* red: "#FA4753",
  black: "#2c2828",
  white: "#FFFFFF",
  purple: "#9BA5C9",
  pink: "#FC9A9A",

  fpink: "#ffe0e0",
  fwhite: "#fff6f6", */
}